{% include 'header.html' %}
<div id="homepage" page='{{ page }}''>
   <div class="container">
      <div class="row">
         <div class="col">
            <div class="subTitle">
               <h1>ข้อมูลโรงงาน</h1>
            </div>
         </div>
         <div class="col">
            <div class="addButtonPosition">
               <button class="addProfile"><img src="../static/images/add-record.svg" alt=""></button>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="chemItem">
            <div class="chemItemHeader">
               <div class="row">
                  <div class="col">ชื่อสถานที่</div>
                  <div class="col">ที่อยู่</div>
                  <div class="col">Latitude</div>
                  <div class="col">Longitude</div>
                  <div class="col-1">ลบ</div>
               </div>
            </div>
            <div class="chemItemBody ">
            {% for factory in factorys %}
               <div class="row closeSubItem item" factory_id="{{ factory }}">
                  <div class="col">{{ factory }}</div>
                  <div class="col">{{ factorys[factory]['address'] }}</div>
                  <div class="col">{{ factorys[factory]['latitude'] }}</div>
                  <div class="col">{{ factorys[factory]['longitude'] }}</div>
                  <form action="/deleteFactory" method="POST" class="removeForm">
                    <input name="factoryId" value={{factory}} style="display: none;" />
                <div class="col-1 "><button><img src="../static/images/close_item.png" /></button></div>
                </form>
               </div>
               <form action="/addAccident" method="POST">
                  <input name="factory" type="text" style="display: none;" value="{{factory}}" />
                  <input name="latitude" type="text" style="display: none;" value="{{ factorys[factory]['latitude'] }}" />
                  <input name="longitude" type="text" style="display: none;" value="{{ factorys[factory]['longitude'] }}" />
                  <div class="chemSubItemBody" factory_id="{{ factory }}">
                     <div class="row">
                        <div class="col">
                           <div class="subTitle">
                              <h1>แจ้งเตือนสารเคมีรั่วไหล</h1>
                           </div>
                        </div>
                        <div class="col"></div>
                     </div>
                     <div class="profileTable">
                        <div class="row">
                           <div class="col-5">
                              <div class="inputSignup">
                                 <div>
                                    <span>วันที่ และ เวลา<b>*</b></span>
                                 </div>
                                 <div>
                                    <input name="dateTime" type="text" placeholder="ex. 01/10/10 20p:20" value="{{currentDateTime}}"  />
                                 </div>
                              </div>
                           </div>
                           <div class="col-5">
                              <div class="inputSignup">
                                 <div>
                                    <span>อัตราที่สารรั่วไหล (g/s)<b>*</b></span>
                                 </div>
                                 <div>
                                    <input name="massEmissionRate" type="text" placeholder="ex. 0.0" value="">
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="profileTable">
                        <div class="row">
                           <div class="col-5">
                              <div class="inputSignup">
                                 <div>
                                    <span>ความสูงจากปากป่อง (m)<b>*</b></span>
                                 </div>
                                 <div>
                                    <input name="effectiveStackHeight" type="text" placeholder="ex. 0.0">
                                 </div>
                              </div>
                           </div>
                           <div class="col-5">
                              <div class="inputSignup">
                                 <div>
                                    <span>สารเคมีที่รั่วออกมา<b>*</b></span>
                                 </div>
                                 <div>
                                    <input name="accidentChemical"  factory_id="{{ factory }}" class="accidentChemical" required type="text" placeholder="ex. eg. SODIUM CHLORIDE, SULPHURIC…">
                                    <div class="reccomendAccidentChemical" factory_id="{{ factory }}">
                                       <ul>
                                          {% for chemical in chemicals %}
                                          <li>{{ chemical }}</li>
                                          {% endfor %}
                                       </ul>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="buttonSignup">
                        <button class="activeButton nextStep">แจ้งเตือน</button>
                     </div>
                  </div>
               </form>
               {% endfor %}
            </div>
            <div class="noneResult">
               <h1>กรุณาค้นหาข้อมูล</h1>
            </div>
         </div>
      </div>
   </div>
</div>
<div style="display:flex; justify-content: center;">
   <div class="addProfilePopup" style="width:30%">
      <form action="/addFactoryLocation" method = "POST">
         <div class="subtitle" style="margin-bottom:15px;">
            <h3>ข้อมูลติดต่อ</h3>
         </div>
         <div class="row">
            <div class="col-10">
               <div class="inputSignup">
                  <div>
                     <span>ชื่อสถานที่<b>(ห้ามซ้ำ)</b></span>
                  </div>
                  <div>
                     <input name="locationName" type="text" placeholder="ex. KMITL">
                  </div>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-10">
               <div class="inputSignup">
                  <div>
                     <span>ที่อยู่<b>*</b></span>
                  </div>
                  <div>
                     <input name="address" type="text" placeholder="ex. KMITL">
                  </div>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-10">
               <div class="inputSignup">
                  <div>
                     <span>Latitude<b>*</b></span>
                  </div>
                  <div>
                     <input name="latitude"  step="1" type="text" placeholder="ex. ลงชื่อผู้เก็บ">
                  </div>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-10">
               <div class="inputSignup">
                  <div>
                     <span>Longitude<b>*</b></span>
                  </div>
                  <div>
                     <input name="longitude"  step="1" type="text" placeholder="ex. ลงชื่อผู้เก็บ">
                  </div>
               </div>
            </div>
         </div>
         <div class="buttonSignup" style="text-align:center;">
            <button class="activeButton saveForm closeOverlay" style="margin:auto;">เพิ่มข้อมูล</button>
         </div>
      </form>
   </div>
</div>
<div class="overlay"></div>
</body>