<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chemcrisis</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/script.js"></script>
    <script src="../static/js/popup.js"></script>

  <link rel="icon" type="image/x-icon" href="../static/images/fav.ico" />

</head>

<body>
    <div id="header">
        <div class="wrapper">
            <div class="container">
                <!-- Content here -->
                <div class="row">
                    <div class="col-4">
                        <a href="/index">
                            <div class="logo">
                                <div class="logoText">
                                    Chem<span>Crisis</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-6">
                        <div class="menu">
                            <div page="index">
                                <a href="/index">จุดประสบภัย</a>
                            </div>
                            <div page="factory">
                                <a href="/factory">ข้อมูลโรงงาน</a>
                            </div>
                            <div page="chemical">
                                <a href="/chemical">ข้อมูลสารเคมี</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="dropdownWrapper">
                            <div class="dropdownMenu dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    เข้าสู่ระบบโดย <b>Admin</b>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                    <button class="dropdown-item" type="button"><a href="#">Logout</a></button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>